
<h2>Stores Near You</h2>
<% unless @within %>
Use the search tool on the left.
<% else %>
<h2><strong><%= pluralize(@vendors.size, 'stores') %></strong>
within <strong><%= h @within %> miles</strong>:</h2>

<ul>
<% for vendor in @vendors -%>
  <li>
    <p>
      <strong><%= link_to vendor.name, vendor %></strong> <br />
      <%= h vendor.address %> (<a href="http://maps.google.com?q=<%= h vendor.address %>">Get Directions</a>) <br/>
      <i>(<%= sprintf("%.2f", vendor.distance) %> miles away)</i>
    </p>
  </li>
<% end -%>
</ul>

<div id="map" style="width:500px; height:300px;"></div><% end %>


<br />

<%= link_to 'New vendor', new_vendor_path %>

<div id='edit_vendor_div' style='visibility: hidden;'>  
    <div class="hd">Edit Vendor</div>  
    <div class="bd"><%= image_tag 'spinner.gif' %> Loading...</div>  
</div>