<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Shops: <%= controller.action_name %></title>
  <!-- #START:start -->
  <script type="text/javascript"
          src="http://maps.google.com/maps?file=api&amp;v=2&amp;
               key=<%= GeoKit::Geocoders::google %>" >
  </script>
  <% if @vendors -%>
    <script type="text/javascript"> 
      var vendors = <%= @vendors.to_json %>;
    </script>
  <% end -%>
  <%= javascript_include_tag :defaults %>
  <!-- #END:start -->
  <%= stylesheet_link_tag 'scaffold' %>
  <!-- css -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/skin.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/container/assets/skins/sam/container.css">  
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/button/assets/skins/sam/button.css">   
  <!-- js -->
  <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/utilities/utilities.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/container/container-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/menu/menu-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/button/button-min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'screen' %>
</head>
<body class="yui-skin-sam"> 
<div id="doc" class="yui-t1">
	<div id="my_form_div">  
   	<div id="hd">
		</div>
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
	<!-- YOUR DATA GOES HERE -->

  			<p style="color: green"><%= flash[:notice] %></p>
  			<%= yield  %>
	</div>
</div>
	</div>
	<div class="yui-b">
		<!-- YOUR NAVIGATION GOES HERE -->
		<h1>Shop At Your Local Store</h1>
		<p>If you need to get Pamela's Products in your tummy today (and we don't blame you), then use our store locator and find out what stores in your neighborhood carry our products.
		</p>
		<!-- <h3>Store Name</h3>
		<% form_tag vendors_path, :method => 'get' do %> 
			<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil %>
			</p>
		<% end #</form> %>
		<hr /> -->
		<h3>Stores Near You</h3>
		<% form_tag vendors_path, :method => 'get' do %> 
			<p><label>Your Town</label> <br />(zip OR city, state)
				<%= text_field_tag :address, params[:address] %>
			</p>
			<p><%= label_tag 'within', 'Search Radius'  %></p>
				<p> <%= radio_button_tag 'within', '5'	 %>&nbsp;&nbsp;5 Miles<br />
					 <%= radio_button_tag 'within', '10',	true %>&nbsp;&nbsp;10 Miles<br />
					 <%= radio_button_tag 'within', '20' %>&nbsp;&nbsp;20 Miles<br />
					 <%= radio_button_tag 'within', '50' %>&nbsp;&nbsp;50 Miles<br />
				
			</p>
				<%= submit_tag "Find Vendors", :name => nil %>

		<% end #</form> %>
		
	</div>
	
	</div>
   <div id="ft">Footer is here.</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
(function() {  
  function handleSubmit (arg) {  
    this.submit();  
  }  
  function handleCancel (arg) {  
    this.cancel();  
  }  
  var postEditor = new YAHOO.widget.Dialog('edit_post_div',  
    { width               : "40em",  
      fixedcenter         : true,  
      visible             : false,  
      constraintoviewport : true,  
      modal               : true,  
      postmethod          : "form",  
      buttons : [ { text:"Submit", handler:handleSubmit, isDefault:true},  
                  { text:"Cancel", handler:handleCancel } ]  
    });  
  postEditor.render();  
  YAHOO.util.Event.on('edit_post_link', 'click', function(e) {  
    YAHOO.util.Event.preventDefault(e);  
    YAHOO.util.Event.stopPropagation(e);  
    postEditor.show();  
  });  
})();
</script>
</body>
</html>


</body>
</html>